import * as React from 'react';
import * as styles from './%COMPONENT_NAME%.%FILE_EXTENSION%';

type Props = {};

type State = {};

class %COMPONENT_NAME% extends React.Component<Props, State> {
    state = {};

    render() {
        return <div className={styles.container} />;
    }
}

export default %COMPONENT_NAME%;
